//
//  MYCrypto_Release.xcconfig
//  MYCrypto
//
//  Created by Jens Alfke on 4/8/09.
//  Copyright 2009 Jens Alfke. All rights reserved.
//

//FIX: I have not found a way to avoid using a hardcoded relative path to MYUtilities :(
#include "../MYUtilities/MYUtilities_Release.xcconfig"
#include "MYCrypto.xcconfig"
